/*header*/
header{
    width: 100%;
    display: flex;
    height: 69px;
    position: fixed;
    border-bottom: 1px solid seashell;
    z-index: 10;
    align-items: center;
    background-color: black;
}

.flex-container{
  flex-wrap: wrap;
  align-items: center;
}

.logo{
  flex-grow: 1;
  height: 50px;
}

nav{
  color: white;
  text-align: left;
  flex-grow: 1;
  text-align: right;
}

nav a{
  color: seashell;
  display: inline-block;
  font-family: Helvetica;
  font-size: 22px;
  text-decoration: underline;
  padding: 0px 10px;
  color: white;
  text-align: right;
}

body{
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  opacity:0.9;
  color: seashell;
  margin: 0px;
}

/*Mission*/

#mission{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  background-repeat: no-repeat;
  padding-top: 70px;
  height: 700px;
  width: 1200px;
  margin: auto;
  display: flex;
}

.content{
  margin: 0;
  text-align: center;
  background-color: black;
  width: 100%;
}


.container{
  align-items: center;
}

.container h2,
.container h4{
  margin-top: 10px;
  margin-bottom: 10px;
}


/*STORE!!!*/

#store{
  width: 1000px;
  text-align: center;
  margin: auto;
}

.items{
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-around;*/
  justify-content: center;
}
.items span{
  display: block;
  margin: 10px;
  text-align: center;
}

.item{
  margin: 10px;
}

/*Locations*/

#locations{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  width: 1200px;
  height: 500px;
  margin: auto;
  padding-top: 70px;
}


.local{
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-right: 40px;
  flex-basis: 300px;
  align-items: center;
  justify-content: center;
}


#locations h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 15px;
}

.locations{
  display: flex;
  opacity: 1;
  justify-content: center;
  text-align: center;
}

.local span{
  margin: 23px 0;
  text-align: center;
}

/*Footer*/

.footer{
  text-align: center;
  height: 200px;
}

/*copyrightr*/

.copyright{
  text-align:left;
  margin-left: 20px;
}
